$color-bg: #e1ddd7;
$color-bg-search: #f0eeeb;

$color-text: #9e9b97;
$color-text-dark: #50493e;
$color-text-placeholder: #8a8070;

$color-dialogue: #484847;

$space-sm: 4px;
$space-md: 8px;
$space-lg: 16px;
$space-xlg: 32px;

$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2rem;
$font-xlg: 4rem;
